@font-face {
    font-family: 'Space';
    src: url(./fonts/SpaceMono-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space-Bold';
    src: url(./fonts/SpaceMono-Bold.ttf) format('truetype');    
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Space-Italic';
    src: url(./fonts/SpaceMono-Italic.ttf) format('truetype');    
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Space-BoldItalic';
    src: url(./fonts/SpaceMono-BoldItalic.ttf) format('truetype');    
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arsenal';
    src: url(./fonts/Arsenal-Regular.ttf) format('truetype');   
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal-Bold';
    src: url(./fonts/Arsenal-Bold.ttf) format('truetype');   
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal-Italic';
    src: url(./fonts/Arsenal-Italic.ttf) format('truetype');   
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arsenal-BoldItalic';
    src: url(./fonts/Arsenal-BoldItalic.ttf) format('truetype');   
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Questrial';
    src: url(./fonts/Questrial-Regular.ttf) format('truetype');   
    font-weight: normal;
    font-style: normal;
}
.otrafoto{
    display: none;
}

html, body {
    background-color: #011023;
    line-height: 1.75;
    color: #ffffff;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    scroll-behavior: smooth;
}


header{
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main, article{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    font-family: 'Space', sans-serif;
    font-size: 6rem;
    font-weight: normal;
    overflow: hidden;
    transform: translateY(25vh);
    animation: titleUp;
    transition: 2s;
    animation-timeline: scroll();
    animation-range-start: 0px;
    animation-range-end: 300px;
    animation-fill-mode:both;
}


h2{
    font-family: 'Arsenal', sans-serif;
    font-size: 3rem;
    max-width: 80%;
    color: #ffffffbd;
    font-weight: normal;
    animation:  movimiento;
    animation-timeline: scroll();
    animation-range-start: 0px;
    animation-range-end: 400px;
    animation-fill-mode:forwards;
}

h3{
    font-family: 'Arsenal', sans-serif;
    font-size: 2rem;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: #ffffff;
}

nav{
    background-color: #051d3d79;
    backdrop-filter: blur(10px);
    position:fixed;
    transition: 0.3s ease-in-out;
    top: 0;
    z-index: 1000;
}

nav ul{
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 20px;
    list-style: none;
    background-color: transparent;
}


nav ul li:hover{
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-underline-position: above;
    color: #000000;
    border-radius: 10px;
    animation: sube-elemento 0.5s forwards;
}


p, footer{
    width: 80%;
    font-family: 'Questrial', sans-serif;
}


p.solar-system-answer {
    max-width: 1024px;
    animation: fade-out-down;
    animation-timeline: scroll();
    animation-range-start: 0px;
    animation-range-end: 400px;
    animation-fill-mode: both;
}


.planets-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    view-timeline-name: --planets;
    background: linear-gradient(to bottom, #011023 1%,  #070707);
}

.planet-cards-container{
    max-width: 99vw;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.planet-cards-container button:nth-of-type(1){
    position: absolute;
    left: 0;
}

.planet-cards-container button:nth-of-type(2){
    position: absolute;
    right: 0;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Space', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 50px;
    transition: all 0.5s ease;
    animation: showItself;
    animation-timeline: scroll();
    animation-range-start: 0px;
    animation-range-end: 200px;
    animation-fill-mode: both;
    z-index: 1000;
    margin: 0 10px 0 10px;
}

button:hover{
    background-color: #ffffff;
    color: #000000;
    border-radius: 50px;
    animation: blowUpEffect 0.5s forwards;
}

.planet-cards-container::-webkit-scrollbar{
    display: block;
    height: 10px;
}

.planet-cards-container::-webkit-scrollbar-corner {
    background-color: grey;
}

.planet-cards-container::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    width: 10px;
    border-radius: 10px;
}

.planet-cards-container::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    margin: 200px;
}

.planet-card{
    border-radius: 30px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: go-up;
    animation-timeline: --planets;
    animation-range-start: cover 0%;
    animation-range-end: cover 20%;
    position: relative;
}

.planet-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(109, 109, 109, 0.199);
    backdrop-filter: blur(10000px);
    border-radius: 30px;
}

.planet-description ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    background-color: transparent;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #070707;
    margin: auto;
    color: rgba(255, 255, 255, 0.712);
}


figure{
    display: block;
    height: auto;
}


.solar-system-figure img{
    margin: 0 auto;
    display: block;
    animation:  fade-out-down-image;
    animation-timeline: scroll();
    animation-range-start: 0px;
    animation-range-end: 200px;
    animation-fill-mode: both;
}

.solar-system-figure img:nth-of-type(1){
    display: none;
}


.planet-card img{
    width: 600px;
    height: auto;
}



body::-webkit-scrollbar {
    background-color: grey;
    width: 10px;
}


::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    background: linear-gradient(to right, grey 0%, #ffffff 100%);
    border-radius: 10px;
    border: 1px solid grey;
}



/* Animation */
@keyframes movimiento {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out-down{
    from {
        opacity: 0;
        transform: translateY(-20%);

    }

    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade-out-up{
    from{
        opacity: 0;
        transform: translateY(-300px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes go-up{
    from{
        opacity: 0;
        transform: translateY(100%);
    }

    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes showItself{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes fade-out-down-image{
    from{
        width: 25%;
        height: 0%;
        opacity: 0;
        transform: translateY(-50%);
    }

    to{
        width: 100%;
        height: auto;
        opacity: 1;
        transform: translateY(-60px);
    }
}

@keyframes sube-elemento{
    from {
        transform: translateY(0%);
    }

    to{
        transform: translateY(-15%);
    }
}

@keyframes blowUpEffect {
    0% {
        filter: drop-shadow(0px 0px 30px #ffffff);
    }

    50% {
        filter: drop-shadow(0px 0px 30px #9f9fa1);
    }
    100% {
        filter: drop-shadow(0 0 30px #ffffff);
    }
}

@keyframes titleUp {
    from{
        text-decoration: underline;
        text-decoration-thickness: 0px;
        text-decoration-color: #ffffff00;
    }

    to {
        width: 100%;
        font-size: 5rem;
        opacity: 1;
        transform: translateY(10%);
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
        text-decoration-color: #ffffff;
        
    }
    
}

@keyframes circularMotion {
    0% {
        transform: rotate(0deg) translateX(0px) ;
    }
    100% {
        transform:rotate(360deg) translateX(0px) ;
    }
}

@keyframes semiCircleOrbit{
    0% {
        transform: rotate(90deg) translateX(0) translateY(0);
      }
      100% {
        transform: rotate(-270deg) translateX(200px) translateY(100px);
      }
}



/* Media Queries */

@media screen and (max-width: 768px){

    h1{
        font-family: 'Space', sans-serif;
        font-size: 5rem;
        font-weight: normal;
        overflow: hidden;
        transform: translateY(18vh);
        animation: titleUp;
        animation-timeline: scroll();
        animation-range-start: 0px;
        animation-range-end: 200px;
        animation-fill-mode:both;
    }

    .planet-cards-container-buttons{
        display: none;
    }

    .solar-system-figure img:nth-of-type(1){
        display: none;
    }
    
    .solar-system-figure img:nth-of-type(2){
        display: none;
    }
    

    .planet-card{
        display: flex;
        animation: none;
    }

    .planet-description{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.123);
        backdrop-filter: blur(10px);
        animation: none;
    }
    
    .planet-card img{
        width: 100vw;
        height: auto;
    }

    .planet-cards-container::-webkit-scrollbar{
        display: block;
        height: 10px;
    }
    
    .planet-cards-container::-webkit-scrollbar-corner {
        background-color: grey;
    }
    
    .planet-cards-container::-webkit-scrollbar-thumb {
        background-color: #ffffff;
        width: 10px;
        border-radius: 10px;
    }
    
    .planet-cards-container::-webkit-scrollbar-track {
        background-color: grey;
        border-radius: 10px;
        margin: 80px;
    }

    .otrafoto{
        display: block;
    }

    footer{
        text-align: center;
        margin-bottom: 10px;
    }


}